<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="log.css">
    <style>
        
    </style>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <h5>Enter correct username and password</h5>
        <h6></h6>
        <form id="loginForm" method="post" action="/dashboard">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    
</body>
</html>

